 .html {
    overflow-x: hidden;
}

.back-colour{
    color: #1a1a1a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



/* Navigation ooooooooooooooooooooooooooooooooooooooooooooooooo*/
nav {
    background: #1a1a1a;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 2%;
}



a.about-us-blue {
    color: #4a9eff;
}

.logo-link {
    color: #ffffff;
    text-decoration: none;
}

.logo-link:visited {
    color: #ffffff;
}

.logo-link:hover {
    color: #4a9eff;
}


.logo {
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: left;
}


.nav-links {
    display: flex;
    gap: 47px;
    list-style: none;
    stroke-width: 10%;
    justify-content: left;
}

.nav-links a {
    color: #999;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #4a9eff;
}

.nav-links a.about-us-blue:hover {
    color: #4a9eff;
    }

.nav-links a.active {
    color: #4a9eff;
}

/* First Section ooooooooooooooooooooooooooooooooooooooooooooooooo*/

about-us-heading {
    background-color: #6d6d6d;
    color: white;
    text-align: center;
    font-size: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    grid-column: 1 / -1;
    grid-row: 1;
    font-family: 'Times New Roman', Times, serif;
}

.first-section {
    background-color: #6d6d6d;
    padding: 80px 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 40px;
    align-items: start;
 
}


.first-box,
.second-box,
.third-box {
    width: 100%;
    aspect-ratio: 1 / 1;
    grid-row: 2;
    border: 5px solid #000;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 5%;
    line-height: 1.6;

}

.second-box-middle,
.first-box-left,
.third-box-right {
    height: 60%;
    width: 100%;
    object-fit: cover; 
    border: 9px solid rgb(72, 80, 87);
    outline: 3px solid rgb(0, 0, 0);
    outline-offset: 0px;
    display: block;
    margin-bottom: 20px;
    flex: 1;
}

.box-description {
    font-size: 14px;
    font-family:  Arial, sans-serif;
    font-weight: bold;
}

.cta-button {
    background: #1a1a1a;
    color: white;
    border: none;
    padding: 15px 4%;
    font-size: 14px;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    grid-column: 1/ -1;
    grid-row: 3;
    justify-content: center;
    justify-self: center; 
}

.button-align {
    display: flex;
    align-items: center;
    width: 100%;
    grid-column: 1/ -1;
    grid-row: 3;
    justify-content: center;
}

.cta-button:hover {
    background: #333;
}

/* Second Section ooooooooooooooooooooooooooooooooooooooooooooooooo*/
.second-section {
    background-color: #000000;
    padding-right: auto;
    max-width: 200%;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    margin: 0;
}
